<?xml version='1.0' encoding='utf-8'?>
<widget id="com.greezlee.handswork" version="0.99" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Рабочие руки</name>
    <description>
    </description>
    <author email="iron-zorin@yandex.ru" href="http://handswork.pro">
        Андрей Зорин
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="port-ldpi" src="res/screen/android/200x320.png" />
        <splash density="port-mdpi" src="res/screen/android/320x480.png" />
        <splash density="port-hdpi" src="res/screen/android/480x800.png" />
        <splash density="port-xhdpi" src="res/screen/android/720x1280.png" />
        <icon density="ldpi" height="36" src="res/icon/android/36.png" width="36" />
        <icon density="mdpi" height="48" src="res/icon/android/48.png" width="48" />
        <icon density="hdpi" height="72" src="res/icon/android/72.png" width="72" />
        <icon density="xhdpi" height="96" src="res/icon/android/96.png" width="96" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash height="480" src="res/screen/ios/320x480.png" width="320" />
        <splash height="960" src="res/screen/ios/640x960.png" width="640" />
        <splash height="1024" src="res/screen/ios/768x1024.png" width="768" />
        <splash height="2048" src="res/screen/ios/1536x2048.png" width="1536" />
        <splash height="1136" src="res/screen/ios/640x1136.png" width="640" />
        <splash height="1334" src="res/screen/ios/750x1334.png" width="750" />
        <splash height="2208" src="res/screen/ios/1242x2208.png" width="1242" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="res/icon/ios/icon-57@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="29" src="res/icon/ios/icon-29.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-29@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
    </platform>
    <preference name="AppendUserAgent" value="/Cordova" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="your usage message" />
    </plugin>
    <plugin name="com.cesidiodibenedetto.filechooser" spec="~1.0.4" />
    <plugin name="onesignal-cordova-plugin" spec="^2.3.1" />
    <plugin name="cordova-plugin-media-capture" spec="~3.0.1" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="~1.2.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="android" spec="^6.3.0" />
    <engine name="ios" spec="~4.5.4" />
</widget>
